@model IEnumerable<Chat.BL.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    <a style="color:greenyellow" class="nav-link" href="/Categorias/Crear">Añadir una nueva categoria!</a>
</p>
<table class="table">
    <tr>
        <th style="color:greenyellow">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="color:greenyellow">
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="color:greenyellow">
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td style="color:greenyellow">
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ID }) |
            @Html.ActionLink("Detalle", "Detalle", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.ID })
        </td>
    </tr>
}

</table>
