@model IEnumerable<SocialNetwork.BL.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid jumbotron-fluid stay mt-5 pt-5 pb-5">
    <p>
        @Html.ActionLink("agregar Nuevo libro", "Crear")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link_Descarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link_Descarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaId)
            </td>
            <td>
                <img src="@item.UrlImagen" style="max-width:64px; height:auto;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
</div>