@model IEnumerable<SocialNetwork1._1.Models.Message>

@{
    ViewBag.Title = "Dialogs";
}

<div class="row">
    <div class="col-md-9">
        <div class="container">
            <div></div>
            @foreach (var message in Model)
            {
            <div class="media">
                <a class="media-left" href="@Url.Action("Index", "Home", new { id = message.Sender.Id }, null)">
                    <img src="@Url.Content("~/Images/")/@message.Sender.Photo" class="media-object img-circle" style="width:50px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@message.Sender.UserName <small><i>Posted @message.SendingTime.ToShortTimeString()</i></small></h4>
                    <p><a href="@Url.Action("Dialog", "Home", new { id_1 = message.SenderId, id_2 = message.ReceiverId }, null)">@message.Content</a></p>
                </div>
            </div>
            }
        </div>
    </div>
</div>
